<section class="profile-card">
  <div class="profile-card-wrapper profile-card-bordered">
    <div class="profile-card-cover" style="background-image:url('./images/cover-banner-1.jpg')"></div>
    <div class="profile-card-body">
      <div class="profile-image-follow">
        <div class="profile-image">
          <img src="./images/profile-image-1.jpg" alt="Profile Photo" />
        </div>
        <div class="profile-follow">
          <button type="button" class="button button-follow" aria-label="Follow Me">Follow</button>
        </div>
      </div>
      <div class="profile-detail">
        <div class="profile-title">
          <h1>Title Demo</h1>
        </div>
        <div class="profile-desciption">
          <p>Content, Commerce, and Coffee – <a href="http://example.com/">#AEM/CQ5</a>, <a
              href="http://example.com/">#Drupal</a>, <a href="http://example.com/">#Magento</a>, and <a
              href="http://example.com/">#UXDesign</a></p>
        </div>
        <div class="profile-location">
          <p>North America & Europe <span>&bull;</span> example.com <span>&bull;</span> Joined March 2020</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="profile-card second-card">
  <div class="profile-card-wrapper profile-card-bordered">
    <div class="profile-card-cover" style="background-image:url('./images/cover-banner-2.jpg')"></div>
    <div class="profile-card-body">
      <div class="profile-image-follow">
        <div class="profile-image">
          <img src="./images/profile-image-2.jpg" alt="Profile Photo" />
        </div>
        <div class="profile-follow">
          <button type="button" class="button button-follow" aria-label="Follow Me">Follow</button>
        </div>
      </div>
      <div class="profile-detail">
        <div class="profile-title">
          <h1>Title Second Demo</h1>
        </div>
        <div class="profile-desciption">
          <p>Content, Commerce, and Coffee – <a href="http://example.com/">#AEM/CQ5</a>, <a
              href="http://example.com/">#Drupal</a>, <a href="http://example.com/">#Magento</a>, and <a
              href="http://example.com/">#UXDesign</a></p>
        </div>
        <div class="profile-location">
          <p>North America & Europe <span>&bull;</span> example.com <span>&bull;</span> Joined March 2020</p>
        </div>
      </div>
    </div>
  </div>
</section>
